<div>
  <h3>
    <%= event.name %>
  </h3>
  <p class="event-date">
    Date:
    <%= event.date %>
  </p>
  <p class="event-location">
    Location:
    <%= event.location %>
  </p>
  <p class="event-creator">
    Creator:
    <%= event.creator.name %>
  </p>
  <p class="event-description">
    <p>Description:</p>
    <p>
      <%= event.description %>
    </p>
  </p>
</div>