<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator.name %>
</p>

<%= link_to 'Back', events_path %>
<% if user_signed_in? %>
  | <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>